NODE_ENV=development
PORT=3003

# MongoDB (execution_db no docker-compose raiz)
MONGODB_URL=mongodb://execution:execution@localhost:27017/execution_db?authSource=admin

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Observability
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_SERVICE_NAME=fiap-fase4-execution-service
